
/*Properties applied to all the html elements on the page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Background color applied to the complete body of the page*/
body {
    background-color: #d9dcd6;
}

/*Properties applied to the complete header of the page*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Properties applied to the <h1> elements contained in the header of the page*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Properties applied to the <h1> elements with class = "seo" in the header of the page*/
header h1 .seo {
    color: #d9dcd6;
}

/*Properties applied to the <nav> element contained in the header of the page*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Properties applied to the unordered list element (<ul>), contained in the <nav> element, which is located in the header of the page*/
header nav ul{
    list-style-type: none;
}

/*Properties applied to the list elements (<li>) contained in the unordered list, located in <nav> element, which is contained in the header of the page*/
header nav ul li{
    display: inline-block;
    margin-left: 25px;
}

/*Properties applied to the all the <a> elements*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Properties applied to the all the <p> elements*/
p {
    font-size: 16px;
}

/*Properties applied to the big image in the page with class = "backgroundimage"*/
.backgroundimage{
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
}

/*Properties applied to the section with class = "content"*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Properties applied to the articles (<article>) contained in the section with class = "content"*/
.content article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;

}

/*Properties for all <h2> elements contained in the section with class ="content"*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Properties applied to the images (<img>) contained in the section with class = "content"*/
.content img {
    max-height: 200px;
}

/*Properties for elements with class = "float-left" to make them align to the left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Properties for elements with class = "float-right" to make them align to the right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Properties defined for the <aside> element with class = "benefits"*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Properties defined for the <section> elements contained in the <aside> element with class = "benefits"*/
.benefits section {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Properties defined for the <h3> elements contained in the <aside> element with class = "benefits"*/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Properties defined for the <img> elements contained in the <aside> element with class = "benefits"*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Properties defined for the complete <footer> element*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Properties defined for the <h2> elements contained in the <footer> element*/
footer h2 {
    font-size: 20px;
}